html {
    overflow-y: scroll;
}

.background {
    background-position: center;
    background-repeat: space;
    background-size: cover;
}

.wrapper {
    margin: 5%;
    padding: 50px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}

.wrapper:after {
     content: "";
     clear: both;
     display: table;
}

.product-wrapper {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    color: black;
}

.product-wrapper:hover {
    border: 2px solid grey;
    color:black;
}


warning {
    color: orange;
}

.error {
    color: red;
}

.test {
    width: 105%;
    margin-left: -10px;
}

.form-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}

.half-width {
    width: 50%;
}

.item-wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;

}

.item-wrapper-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    text-align: center;
}


label {
    padding-top: 10px;
    padding-bottom: 5px;
}

.form-control {
    width: 50%
}

.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.fit {
    max-width:100%;
    max-height:200px;
}
